@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  .container {
    padding: 0;
    margin: 0;
  }

  .print-container {
    padding: .5in;
    width: 8.27in; /* A4 width in inches */
    height: 11.69in; /* A4 height in inches */
    box-shadow: none;
    border: none;
  }

  button {
    display: none;
  }
}
