@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
  body {
    margin: 40px;
  }
  .hide-column {
    display: none !important;
  }
}

/* .order-history-table th,
.order-history-table td {
  max-width: min-content;
} */
